.glide__arrow {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #BBBBBB;
  color: white;
  font-size: 24px;
  margin: 0 30px;
}

.glide__arrow--left::before{
  position: absolute;
  height: 8px;
  width: 8px;
  top: 10px;
  left: 12px;
  content: '';
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(135deg);
}

.glide__arrow--right::before{
  position: absolute;
  height: 8px;
  width: 8px;
  top: 10px;
  right: 12px;
  content: '';
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(-45deg);
}

  .glide__arrow:focus {
    outline: none;
  }

  .glide__arrow:hover {
    border-color: #1FDAB5;
    background: #18CFAB;
  }

  .glide__arrow--left {
    /*left: 2em;*/
  }

  .glide__arrow--right {
    /*right: 2em;*/
  }

  .glide__arrow--disabled {
    opacity: 0.33;
  }


.glide__bullets {
  display: inline-flex;
  list-style: none;
}


.glide__bullet {
  background: rgba(0.39%, 29.61% , 12.55%, 0.6);
  border: 0;
  mix-blend-mode: normal;
  padding: 0;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 1px 1px 3px rgba(0.39%, 29.61% , 12.55%, 0.6);
  margin: 0 38px 0 0;
}

  .glide__bullet:focus {
    outline: none;
  }

  .glide__bullet--active {
    transform: translateY(-25px);
  }

.glide--swipeable {
  cursor: grab;
}

.glide--dragging {
  cursor: grabbing;
}
