body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.header-background{
    background-image: url("../Step Project Ham Images/Sections background/section-1(header).jpg");
    height: 1012px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header{
    background: rgba(94, 93, 88, 0.6);
    padding: 10px 15px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo-link{
    text-decoration: none;
    color: white;

}

.header-hexagon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #18CFAB;
    width: 58px;
    height: 67px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-header-icon{
    font-size: 40px;
}

.logo-link-text {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    font-size: 32px;
}

.blue-text{
    font-weight: 600;
    color: #18CFAB;
}

.nav-bar{
    display: inline-block;
}

.nav-bar-list{
    padding: 0;
    list-style: none;
    display: inline-block;
}

.nav-bar-list-item{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
}

.nav-bar-list-item-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 16px;
}

.nav-bar-list-item-link:hover{
    color: #18CFAB;
    padding-bottom: 40px;
    border-bottom: 2px solid #18CFAB;
}

.search-icon{
    padding: 0 0 0 140px;
    display: inline-block;
    vertical-align: middle;
}

.features-purchase{
    padding: 265px 0 600px;
    text-align: center;
}

.wordpress-text{
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.wordpress-text-blue{
    color: #18CFAB;
}

.we-are-creative-span{
    display: block;
    margin: 22px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.features-purchase-selling-text{
    display: block;
    font-weight: normal;
    font-size: 34px;
    color: #D4D4D4;
}

.purchase-buttons-container{
    margin-top: 134px;
    display: flex;
    justify-content: center;
}

.explore-button{
    box-shadow: 0 -5px white;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-right: 26px;
    border-radius: 10px;
    background: #18CFAB;
    padding: 16px 19px 16px 19px;
}

.purchase-button{
    box-shadow: 0 -5px white;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: #00CBF6;
    padding: 16px 19px 16px 19px;
}

.features-container{
    display: flex;
    font-style: normal;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}


.feature-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 4);
    box-sizing: border-box;
    padding: 100px 0;
}

.feature-block:nth-child(odd){
    background-color: #1C2A33;
    color: #18CFAB;
}

.feature-block:nth-child(even){
    background-color: #18CFAB;
    color: #FFFFFF;
}

.feature-image{
    margin: auto
}

.feature-block-text{
    margin-top: 48px;
}

.service-container{
    background-color: white;
    padding: 83px 0 93px;
    text-align: center;
}

.service-header{
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.service-header::after{
    width: 80px;
    display: block;
    position: absolute;
    box-shadow: 14px 7px #18CFAB;
    top: 65px;
    left: 55px;
    content: '';
    background-color:  #18CFAB ;
    height: 2px;
}

.tabs-titles-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: 101px 0 20px;
}

.tabs-title{
    padding: 22px 40px;
    box-sizing: border-box;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #717171;
}

.tabs-title:hover{
    border: 1px solid #18CFAB;
}

.tabs-title-active{
    display: flex;
    justify-content: center;
    background: #18CFAB;
    color: white;
    position: relative;
}

.tabs-title-active::after {
    content: '';
    bottom: -20px;
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}

.service-tabs-content-container{
    margin-top: 20px;
}

.hidden{
    display: none;
}

.active{
    font-size: 13px;
    text-align: left;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #777777;
    width: 1200px;
    margin: auto;
}

.tabs-content-image{
    height: 140px;
    margin-right: 15px;
}

.second-section{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../Step Project Ham Images/Sections background/section-2.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    position: relative;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-section-header{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.second-section-additional-text{
    font-style: normal;
    margin: 22px 0 67px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.purchase-button-second-section{
    box-shadow: 0 -5px white;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: #18CFAB;
    padding: 16px 19px 16px 19px;
}

.amazing-work-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #E9EDEF;
}

.amazing-work-header{
    position: relative;
    margin: 75px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
}

.amazing-work-header::after{
    width: 80px;
    display: block;
    position: absolute;
    box-shadow: 14px  7px #18CFAB;
    top: 65px;
    left: 110px;
    content: '';
    background-color:  #18CFAB ;
    height: 2px;
}

.amazing-work-tabs-titles-list{
    margin-top: 101px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.amazing-work-tabs-title{
    padding: 22px 26px;
    background: #E9EDEF;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #717171;
}

.amazing-work-tabs-title:hover{
    border: 1px solid #18CFAB;
}

.amazing-work-tabs-title-active{
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.work-tabs-title-content{
    margin: 70px 0;
    width: 1136px;
    font-size : 0;
}

.all-overflow{
    overflow: hidden;
    height: 618px;

}

.image-container{
    display: inline-block;
    position: relative;
}

.hidden-container-with-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #E9EDEF;
    left: 0;
    top: 0;
    position: absolute;
    padding: 46px 78px 120px;
    box-sizing: border-box;
    height: 206px;
    width: 285px;
    border-top: 3px solid #18CFAB;
    opacity: 0;
}

.image-container:hover .hidden-container-with-content{
    opacity: 1;
}

.hidden-icon-container{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.image-hover-header{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.image-hover-text{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.image-hover-link{
    margin-right: 3px;
    padding: 14px 14px;
    border: 2px solid #18CFAB;
    border-radius: 50%;
    transition: transform 2s ease;
}

.image-hover-link:hover{
    transform: rotate(360deg);
}

.link-2{
    background-color: #18CFAB;;
    margin-right: 0;
    padding: 16px 16px;
    color: #18CFAB;
}

.link-2:hover{
    background-color: #18CFAB;
}

.loading-button{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 22px;
    background: #18CFAB;
}


.loading-button-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 15px;
}

.animation-spinner{
    display: inline-block;
}

.animation-spinner::after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: 30px 0 100px;
    border-radius: 50%;
    border: 4px solid #18CFAB;
    border-top-color:  transparent;
    border-bottom-color: transparent;
    animation: loading-spinner  1.2s linear infinite;
}
@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-animation{
    display: none;
}

.hidden-img{
    display: none;
}

.breaking-news-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.breaking-news-header{
    margin: 0 0 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    position: relative;
}

.breaking-news-header::after{
    width: 80px;
    display: block;
    position: absolute;
    box-shadow: 14px  7px #18CFAB;
    top: 65px;
    left: 85px;
    content: '';
    background-color:  #18CFAB ;
    height: 2px;
}

.breaking-news-links-container{
    display: flex;
    width: 1157px;
    flex-wrap: wrap;
    margin-bottom: 15px;

}

.breaking-news-link{
    margin: 0 35px 50px 0;
    position: relative;
}

.breaking-news-link:hover .breaking-news-link-header{
    color: #18CFAB;
}

.breaking-news-link:hover .breaking-news-data-container{
    background-color: #18CFAB;
}

.breaking-news-link-header{
    margin: 0 0 0 7px;
    line-height: 39px;
    font-weight: bold;
    font-size: 18px;
    color: #717171;
}

.breaking-news-link-spans{
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.breaking-news-span-pseudo{
    position: relative;
    margin: 0 36px 0 5px;
}

.breaking-news-span-pseudo::after{
    position: absolute;
    right: -18px;
    top: 2px;
    height: 15px;
    width: 1px;
    content: '';
    background-color: #777777;
}

.breaking-news-data-container{
    padding: 8px 17px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    background: #203E38;
}

.breaking-news-data-container-text{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
}

.link-mr-0{
    margin-right: 0;
}

.slider-section{
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../Step Project Ham Images/Sections background/section-3.jpg");
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
}

.slider-section-header{
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 100px;
    margin-top: 0;
}

.slider-section-header::after{
    width: 80px;
    display: block;
    position: absolute;
    box-shadow: 14px  7px #18CFAB;
    top: 65px;
    left: 240px;
    content: '';
    background-color:  #18CFAB ;
    height: 2px;
}

.slider-wrappers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1530px;
    margin: 0 auto 120px;
}

.clients-opinion-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin: 37px 0;
}

.clients-text-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;

}

.custom-bullet{
    height: 60px;
    width: 60px;
    object-fit: cover;

    border: 3px solid rgba(0.39%, 29.61% , 12.55%, 0.6);
    overflow: hidden;
    border-radius: 50%;
}

.client-img{
    height: 142px;
    width: 142px;
    border-radius: 50%;
    border: 5px solid rgba(0.39%, 29.61% , 12.55%, 0.6);
    box-shadow: 1px 1px 5px rgba(0.39%, 29.61% , 12.55%, 0.6);

}


.custom-bullet img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.mr-0{
    margin-right: 0;
}

.footer{
    background: #22353F;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-text{
    color: #18CFAB;
    position: relative;
    margin-right: 16px;
}

.footer-text::after {
    position: absolute;
    right: -8px;
    top: 2px;
    height: 15px;
    width: 1px;
    content: '';
    background-color: #777777;
}